{% extends "base.html.j2" %}
{% block hgroup %}
<h1>OpenPetSitter</h1>
<h2>An open source solution for pet sitters, walkers, helpers, 
    and even pet owners to establish a way to monitor pet routines 
    such as feeding, walking, potty breaks, etc. </h2>
{% endblock hgroup %}
{% block main %}
<p>main</p>
{% endblock main %}

