{% extends "base.html.j2" %}
{% block hgroup %}
<h1>Login</h1>
{% endblock hgroup %}
{% block main %}
<div id="loginform">
<form method="POST" action="{{ url_for('login') }}" class="login-form">
    {{ form.csrf_token }}
    {#<div class="imgcontainer">
        <img src="img_avatar2.png" alt="Avatar" class="Avatar">
    </div>#}
    <div class="container">
    {{ form.username.label }} {{ form.username }}
    {{ form.password.label }} {{ form.password }}
    {{ form.submit }}
    </div>
    <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
</div>
{% endblock main %}

