{% extends "base.html.j2" %}
{% block hgroup %}
<h1>Login</h1>
{% endblock hgroup %}
{% block main %}

<div class="form-container">
  <form method="POST" action="{{ url_for('login') }}" class="login-form">
        {{ form.csrf_token }}    
        <div class="row">
          <div class="col-25">
            {{ form.username.label }}
          </div>
          <div class="col-75">
            {{ form.username }}
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            {{ form.password.label }}
          </div>
          <div class="col-75">
            {{ form.password }}
          </div>
        </div>        
        <br />
        <div class="row">
          {{ form.submit }}
        </div>          
  </form>
</div>

{% endblock main %}

