<nav>
    <ul>
        <li><a href='{{ url_for('home') }}'>Home</li></a>
        <li><a href='{{ url_for('my_pets') }}'>My Pets</a></li>
        <li><a href='{{ url_for('my_jobs') }}'>My Jobs</a></li>
        <li><a href='{{ url_for('login') }}'>Login</a></li>
        <li><a href='{{ url_for('logout') }}'>Logout</a></li>
        
    </ul>
</nav>