:root {
    /* --hgroup-bg: rgb(220, 242, 255); */
    --hgroup-bg: rgb(67, 125, 191);
    --hgroup-height: 150px;
    --nav-width: 250px;    
    --pet-info-bg-color: #EEE;
    --content-bg-color: #EEE;
    --content-accent-color: rgb(0, 26, 53);
    --nav-bg-color: #EEE;
    --hover-color: #f44336;
}

* {
 font-size: 1em;
 font-family: Arial, Verdana, Helvetica;
}
body{  
}
h1 {
    font-size: 2em;
}
h2 {
    font-weight: normal;
    text-align: left;
    text-indent: 1em;
}
#title {    
    left: var(--nav-width);
    text-align: center;    
    height: var(--hgroup-height);    
    border-radius: 5px 5px 0 0;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--hgroup-bg);
    border: 2px solid black;
    padding: 2em;
}
main {
    margin: auto;
    padding: 0.25em;
}
#body-container {
    margin: auto;
}
#grid {
    display: flex;
    border: 2px solid black;
    border-top: none;
}
#grid-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-end;
    background: var(--nav-bg-color);
    width: var(--nav-width);    
    border-right: 2px solid black;    
}
#grid-right {        
    width: 100%;
}
nav {    
    width: 100%;    
}
nav a{
    display: block;    
    padding: 0 0.25em;
}
nav a:link, nav a:visited {
    text-decoration: none;
    color: black;
    background: var(--nav-bg-color);
}
nav a:hover {
    color: var(--hover-color);
    background-color: var(--content-accent-color);    
    font-weight: bold;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;        
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
      display: block;
      float: none;
  }
  .cancelbtn {
      width: 100%;
  }
}

#loginform {
  margin: 1em;
  max-width: 350px;
}
.items-container {    
  display: flex;
  flex-wrap: wrap;
  align-items: center;  
  width: 100%;  
}  

.item-table {
  display: flex;
  margin: 0.25em;    
  border: 2px solid black;
  border-radius: 5px;
  background: var(--content-bg-color);
}
.item-column{
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 0.25em;
}
.item-column > * {
  flex: 1 1 auto;
  margin: 0.125em;
}
.item-action-column.c3 {
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  background: var(--content-accent-color);
  border-left: 2px solid black;
  border-radius: 0 4px 4px 0;
  justify-content: space-between;
  color: var(--content-bg-color);
}
.item-action-column.c3 a:link, .item-action-column.c3 a:visited {
  color: var(--content-bg-color);  
}
.item-action-column.c3 a:hover {
  color: #f44336;  
}
.action-new {
  display: block;
  margin-right: 0.25em;  
}
.action-new a:link, .action-new a:visited {  
  font-size: 2em;
  color: var(--content-accent-color);
}
.action-new a:hover {
  color: var(--hover-color);
}
.flex {
  display: flex;  
}

.form-container {
  border-radius: 5px;
  background-color: var(--content-bg-color);
  border: 1px solid black;
  padding: 20px;
  max-width: 500px;
}

.col-25 {
  float: left;
  width: 25%;  
  margin-top: .125em;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: .125em;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
label { 
  display: inline-block;
}
input[type=submit] {
  background-color: var(--content-accent-color);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=submit]:hover {
  background-color: var(--hover-color)
}
/* * {
  box-sizing: border-box;
} */

input[type=text],input[type=date], select {
  width: 100%;
  padding: 0.5em 0 0.5em 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
