{% extends 'base.html.j2' %}
{% block header %}Hi.{% endblock %}
{% block description %}
<p> My name is Joshua. I currently reside in the greater Philadelphia area. I enjoy cycling, watching football,
    Gaming, tinkering and programming. I have a B.S. in EE.</p>
<p>
    I am passionate about sustainability and being responsible stewards of this planet. Developing in Python to automate
    and innovate is fun and challenging to me.
</p>
<p>
    I like spending time outdoors, playing video games, and exploring the web. I am
    always willing and eager to learn.
</p>
{% endblock %}
