{% extends 'base.html.j2' %}
{% block header %}Interesting Links{% endblock %}
{% block description %}
<ul class="links">
  <li><a href="https://whyy.org/" target="_blank">WHYY</a></li>
  <li><a href="https://www.goldencheetah.org/" target="_blank">GoldenCheetah</a></li>
  <li><a href="https://freecodecamp.org/" target="_blank">Freecodecamp</a></li>
  <li><a href="https://libera.chat/" target="_blank">Libera Chat</a></li>
  <li><a href="https://humanepa.org/adoption/dogs/" target="_blank">PA Humane League</a></li>
  <li><a href="https://www3.epa.gov/carbon-footprint-calculator/" target="_blank">Your CO2 Footprint</a></li>
</ul>
{% endblock %}